article{
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 5%;
}

#locaux{
	margin-top: 1%;
	background-color: white;
	border: 1px;
	border-color: 000;
	border-style: solid;
}

body{
	background-color: #eee;
}

#well{
	background-color: white;
	border: none;
}

#creation_annonce{
	padding-left: auto;
	padding-right: auto;
	width: 100%;
	background-color: white;
}

#annonces{
	margin-top: 7%;
	background-color: white;
	border: 1px;
	border-style: solid;
}

#panel{
	margin-top: 1%;
	background-color: white;
	border: 1px;
	border-color: 000;
	border-style: solid;
	margin-left: 1%;
	margin-right: 1%;
}